@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 767px)
{
	/*Карта*/
	.map
	{
		width: 100%;
		margin-top: 20px;
	}
	
	.map h2
	{
		margin-bottom: 20px;
	}
	
	/*Руководитель*/
	.leader
	{
		width: 100%;
		margin-top: 40px;
	}	
}