@charset "utf-8";
/* CSS Document */


@media screen and (max-width: 767px)
{
	/*Новинки*/
	.newItems
	{
		margin-top: 10px;
	}
	
	.newItems .item
	{
		float: left;
		width: 100%;
		margin-top: 30px;
	}
	
	.newItems .item p
	{
		text-align: center;
	}
	
	.newItems .item img
	{
		
		float: none;
	}
}
